.nav-btn {
  cursor: pointer;
  background-color: #1f2937;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 18px;
  border-radius: 6px;
  border: 0px;
}
.nav-btn:hover {
  opacity: 0.8;
  transition: 500ms;
  
}
